.header {
    text-align: center;
  }

.add-btn {
    display: block;
    margin: 20px auto;
}

.main {
    padding-bottom: 100px;
}

.section {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 60%;    
}

.card-yellow {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px ;
      
}

.card-green {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
}

.card-brown {
    border: 1px solid;
    border-radius: 10px;
}